.expenses-filter {
  background-color: #313131;
  border-radius: 0.4rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1.6rem 2.4rem;
  color: #fff;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  margin-block: 0.6em;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.4rem 2.8rem;
  font-weight: bold;
  border-radius: 0.4rem;
}
