@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  width: 100%;
  max-width: 120rem;
  margin-inline: auto;
}

.heading-primary {
  margin-block: 2rem;
}

h1 {
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
}
